<ngx-loading [show]="loading" ></ngx-loading>
<div class="container">
    <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header"></div>
                    <div class="card-body">
                        <form [formGroup]="form">

                            <div class="text-center mb-4">
                                    <img class="featurette-image img-fluid mx-auto" src="../../assets/login.jpg" alt="" width="150" height="70" >
                                  <h1 class="h3 mb-3 font-weight-normal">SGE</h1>
                                </div>

                                <div class="form-label-group">
                                  <input type="text" id="email" class="form-control" name="email" formControlName="email" placeholder="usuario " required autofocus>

                                </div>
                                <br>
                                <div class="form-label-group">
                                  <input type="password" id="password" name="password" class="form-control"   formControlName="password" placeholder="senha " required>
                                </div>
                                <br>
                                <button class="btn btn btn-primary btn-block"  type="submit" nbButton status="primary" (click)="onSubmit()" [disabled]="form.invalid" >
                                  <i class="fa fa-user" aria-hidden="true"></i>   Acessar Sistema   </button>
                                <br/>

                        </form>

                    </div>
                </div>
            </div>
    </div>

</div>


