<ngx-loading [show]="loading" ></ngx-loading>
<app-navbar></app-navbar>
<div class="row" style="margin-top: 5%">
    <div class="col-6 sm-12">
      <div id="mapa" style="width: 800px; height: 400px; margin-left: 2%;"></div>
      <div id="grafico_locais" style="width: 800px; height: 400px;"></div>
    </div>
    <div class="col-6 sm-12">
      <div id="grafico_entregas" style="width: 800px; height: 400px;" ></div>

      <div id="grafico_devolucao" style="width: 800px; height: 400px;"></div>

      <div id="grafico_atrasos" style="width: 800px; height: 400px;"></div>
    </div>
  </div>




